<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>HOD LOGIN HERE</h2>
    <form action="/hod-login" method="post">
        <input type="email" name="email" placeholder="HOD email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login HERE</button>
    </form>
</body>
</html>
