@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #060036;
    display: flex;
    padding: 0px 100px;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;

}

.header .logo{
    color: white;
    font-size: 48px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
}

.header .menu{
    display: flex;
    
}

.header .menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    margin: 0px 40px;
    background-color: rgba(255, 255, 255, 0.158);
    padding: 10px 20px;
    border-radius: 5px;
}

.header .menu .btn-1{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.header .menu .btn-1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Instrument Sans", sans-serif;
    margin: 0px 5px;
    background-color: rgba(255, 255, 255, 0.158);
    padding: 10px 20px;
    border-radius: 5px;
}

.salutation{
    margin-bottom: 40px;
}

.salutation span:nth-child(1){
    font-family: "Instrument Sans", sans-serif;
    display: inline-block; 
    font-size: 24px;
    font-weight: 600;
    color: #646464;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.salutation h3{
    font-family: "Instrument Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
}

.salutation span:nth-of-type(2){
    font-family: "Instrument Sans", sans-serif;
    display: inline-block; 
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.View {
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    top: 383px;
    left: 129px;
    text-align: center;
}

.box-container{
    margin-right: 15px;
    background-color: #F6F5F7;
    padding: 50px;
    border-radius: 10px;
    width: 55vw;
}

.box-container-two{
    width: 15vw;
    background-color: #F6F5F7;
    padding: 50px;
    border-radius: 10px;
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.box-container h4{
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    
}

.box-container-two h4{
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden; 
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


th{
    padding: 15px 70px;
    border: 1px solid #080808;
    text-align: left;
    font-family: "Instrument Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

td {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 10px 40px;
    border: 1px solid #ddd;
    text-align: left;
} 



td a{
    background-color: #060036;
    color: white;
    text-decoration: none;
    font-family: "Instrument Sans", sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

td a img {
    margin-right: 5px;
}

th {
    background-color: rgba(6, 0, 54, 0.16);
}
.container{
    width: 80vw;
    background-color: #F6F5F7;
    border-radius: 10px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin: 0 auto; 
    text-align: center;
}

.container h2{
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 23px;
}

.container td {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 10px 70px;
    border: 1px solid #ddd;
    text-align: left;
} 

.box-1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.quick-links{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quick-links a{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links a img{
    margin-right: 5px;
    background-color: #060036;
    padding: 5px;
    border-radius: 5px;
}